body{
    margin: 0;
}

#myBox{
    background-color: hsl(170, 75%, 60%);
    width: 300px;
    height: 300px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
