body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

#myButton{
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 5px;
}

.myLabels{
    font-size: 2em;
    font-weight: bold;
    border: 1px solid ;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: antiquewhite;
}

#label2{
    margin: 10px;
}
